.search-form-wrapper {
    display: none;
    position: left; /* Change position to fixed */
    top: 0; /* Adjust top position if needed */
    right: 0; /* Position the wrapper to the right */
    padding: 20px 15px;
    background: url(/resources/images/misc/bg_search-open.png) right center no-repeat #f89d1c;
}

.search-form-wrapper.open {
    display: block;
}